* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 0;
  padding: 0.25em;
}

.bg1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #1f2937;
  padding: 0.25em;
}

.bg2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #e5e7eb;
  padding: 0.25em;
}

.s1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 25em;
}

.s2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 25em;
  padding: 2em;
}

button {
  background-color: #3882f6;
  border-radius: 0.5em;
  border-color: white;
  color: white;
}

.s3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 25em;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 22em;
}
.c1,
.c2,
.c3,
.c4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 1em;
  min-width: 25em;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 20em;
  max-width: 30em;
  width: 100%;
  flex-grow: 1;
  background-color: #3882f6;
  border-radius: 1em;
}

h1,
h3,
li,
p {
  color: white;
}

.Quote {
  color: black;
}

.Anon {
  color: black;
}

.web {
  color: white;
}

.con {
  color: black;
}

img {
  border-radius: 0.5em;
  box-shadow: 3px 3px 2px #000;
}
